XCLIP_MODEL_PATH=/mnt/data/models/models--microsoft--xclip-base-patch32/snapshots/a2e27a78a2b5d802e894b8a1ef14f3a8ce490963
CAPTION_MODEL_PATH=/mnt/data/models/models--openbmb--MiniCPM-V-4.6/snapshots/7e133f147e5b5af7100d757aabfb7db0b8c65ed1
HF_CACHE_PATH=/mnt/data/models
XCLIP_PORT=8200
CAPTION_PORT=8300
XCLIP_GPU=0
CAPTION_GPU=0
